@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .button {
    @apply w-20 h-10 cursor-pointer bg-black text-white shadow-white rounded-md
  }
  .nav-icon{
    @apply w-6 h-6 cursor-pointer text-gray-500;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

